html, body {
  font-family: "hwt-republic-gothic-solid";
  background-color: #222222; }

/*
 * Fixes 3 pixel margin error that happens with images and svgs
 */
svg {
  margin-bottom: -3px; }

a {
  text-decoration: none; }

p {
  font-size: 14px;
  line-height: 26px; }

h1 {
  font-size: 20px;
  text-transform: uppercase; }

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase; }

h3 {
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase; }

h4 {
  font-size: 14px; }

header {
  color: #666666;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  width: 100%; }
  header nav a {
    color: #666666;
    margin: 0 5px;
    -webkit-transition: color 0.15s;
    -moz-transition: color 0.15s;
    -ms-transition: color 0.15s;
    -o-transition: color 0.15s;
    transition: color 0.15s; }
    header nav a:hover {
      color: #999999;
      -webkit-transition: color 0.15s;
      -moz-transition: color 0.15s;
      -ms-transition: color 0.15s;
      -o-transition: color 0.15s;
      transition: color 0.15s; }
  header nav h1 {
    float: left; }
  header nav ul {
    float: right; }
  header nav li {
    display: inline; }

footer {
  text-align: center;
  box-sizing: border-box;
  padding: 50px 10px;
  background-color: #222222;
  color: #ffffff; }
  footer p {
    max-width: 900px;
    margin: 5px auto;
    font-family: arial; }

.clear-fix {
  clear: both; }

.button {
  width: 375px;
  height: 100px;
  line-height: 100px;
  font-size: 48px;
  text-transform: uppercase;
  display: block;
  background-color: #ffffff;
  -webkit-transition: background-color 0.15s, color 0.15s;
  -moz-transition: background-color 0.15s, color 0.15s;
  -ms-transition: background-color 0.15s, color 0.15s;
  -o-transition: background-color 0.15s, color 0.15s;
  transition: background-color 0.15s, color 0.15s; }
  .button:hover {
    -webkit-transition: background-color 0.15s, color 0.15s;
    -moz-transition: background-color 0.15s, color 0.15s;
    -ms-transition: background-color 0.15s, color 0.15s;
    -o-transition: background-color 0.15s, color 0.15s;
    transition: background-color 0.15s, color 0.15s; }

.icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain; }
  .icon.-twitter {
    background-image: url("../assets/twitter-icon.png"); }
  .icon.-linkdin {
    background-image: url("../assets/linkdin-icon.png"); }
  .icon.-email {
    background-image: url("../assets/email-icon.png"); }
  .icon span {
    display: none; }

.home {
  background-color: #ffffff; }

/*
 * Implementation layer for buttons, content, and svg.
 * Also, act's like a column.
 */
.person {
  width: 50%;
  float: left;
  text-align: center;
  color: #ffffff; }
  .person ul li {
    display: inline; }
  .person .content {
    background-color: #3eb0ff;
    padding: 0 0 50px 0; }
  .person .button {
    color: #3eb0ff;
    margin: 35px auto 20px auto; }
    .person .button:hover {
      background-color: #65c0ff;
      color: #ffffff; }
  .person:hover .content {
    background-color: #258dd5; }
  .person:hover path {
    fill: #258dd5; }

@media (max-width: 785px) {
  h2 {
    font-size: 32px; }

  h3, h4 {
    line-height: 12px;
    font-size: 12px; }

  .button {
    font-size: 32px;
    width: 225px;
    height: 75px;
    line-height: 75px; } }
@media (max-width: 500px) {
  h1 {
    font-size: 14px; }

  header {
    display: block;
    position: static;
    color: #ffffff;
    background-color: #222222; }
    header nav a {
      color: #ffffff; }

  .home .person {
    width: 100%; }
    .home .person .content {
      padding: 50px 0 50px 0; }
  .home svg {
    display: none; } }
